:root{
    --text-color: rgba(0, 0, 0, 0.6);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    position: fixed;
    left: 0;
    width: 12%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-right: 2px solid var(--text-color);
}

nav a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

nav a {
    border-bottom: 1px solid var(--text-color);
    padding: 1rem 1rem 1rem 1.5rem;
    display: flex;
    align-items: center;
}

nav a:last-of-type{
    border: none;
}

nav header{
    font-size: large;
    font-weight: 500;
    padding: 1.5rem;  
    border-bottom: 1px solid var(--text-color);
    text-align: center;
}

.nav-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: medium;
}

body{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    margin-left: 13.5%;
    margin-top: 1.2%;
    margin-right: 1%;
}

section{
    margin-bottom: 1.5rem;
}

#main-doc header{
    margin-bottom: 1rem;
}

p{
    color:var(--text-color);
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.main-section header{
    font-size: 1.7rem;
}

li{
    margin-left: 2%;
    color: var(--text-color);
    margin-bottom: 1rem;
}

ul{
    margin-left: 2%;
}

code{
    font-size: small;
    font-family: monospace;
    background-color:rgb(214, 212, 209);
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    color: rgb(81, 87, 91);
}

@media only screen and (max-width: 1400px){
    #navbar header{
        font-size: medium;
        margin-left: -1.1rem;
    }
}

@media only screen and (max-width: 977px) {
    #navbar {
      background-color: white;
      position: absolute;
      top: 0;
      padding: 0;
      margin: 0;
      width: 100%;
      max-height: 275px;
      border: none;
      z-index: 1;
      border-bottom: 2px solid;
      overflow-y: scroll;
    }
    
    #main-doc {
      position: relative;
      margin-left: 2%;
      margin-top: 290px;
    }
  }
  
  @media only screen and (max-width: 400px) {
    #main-doc {
      margin-left: 20px;
    }
  
    code {
      min-width: 233px;
    }
  }
  